## Parsing Dates

Date parsing in an important part of data cleaning especially when it comes to the fact that you have to work with dates.

Its a common occurence for dates to be stored in different formats and most times as string data types. This makes the date columns to be treated as "Object" type instead of date type.

The process of taking a string and identifying its component parts and being able to convert it into dates is called **parsing dates**.

Dates can come in different formats example:

**1/17/07 has the format "%m/%d/%y"**

**17-1-2007 has the format "%d-%m-%Y"**

Take a look at the different strftimes [strftime docs](https://strftime.org/)

By default pandas can figure out the date column and do the string to date convertion automatically. This has a downside to it, its slow and pandas is not always correct.

In [211]:
import pandas as pd
import numpy as np

In [212]:
df = pd.read_csv("parsing_dates.csv")

In [213]:
# df.to_csv("parsing_dates.csv", index=False, header = False)

## 4 Tricks Dealing With Parsing Dates

1. Letting Pandas Figure out And Parse The Date Columns
2. Day Time First Format

### 1. Letting pandas figure out and parse the date columns

Pandas can be used to automatically format the date column, but when pandas reads a df its by type an **Object**, we need to manually convert it into a date column.

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2018-02-20  4 non-null      object
 1   Dinning     4 non-null      object
 2   200         4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [215]:
df.dtypes

2018-02-20    object
Dinning       object
200            int64
dtype: object

To properly read the date time we need to parse it using ``parse_dates`` when reading the CSV using ``read_csv``

In [216]:
df = pd.read_csv("parsing_dates.csv", parse_dates=["Date"], names = ["Date", "Event", "Cost"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5 non-null      datetime64[ns]
 1   Event   5 non-null      object
 2   Cost    5 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 248.0+ bytes

In [217]:
df.dtypes

Date     datetime64[ns]
Event            object
Cost              int64
dtype: object

In [218]:
df

        Date     Event  Cost
0 2018-02-20   Dinning   200
1 2019-03-23  Shopping   330
2 2020-09-20   Jogging   400
3 2021-10-04  Partying   500
4 2022-11-09    Coding    20

## Day First Time Format

By default, ``parse_dates`` argument will read the date in the time format starting with the **month** first. This kind of date format is not widely used in the rest of the world other than in the states. 

To know more about the different date formats used around the world, take a look at the [Python strftime docs cheatsheet](https://strftime.org/)

We can decide to use the day first time format by using the ``parse_dates`` along with ``dayfirst``

In [219]:
df = pd.read_csv("parsing_dates.csv", parse_dates=["Date"], names = ["Date", "Event", "Cost"], dayfirst=True)

In [220]:
df

        Date     Event  Cost
0 2018-02-20   Dinning   200
1 2019-03-23  Shopping   330
2 2020-09-20   Jogging   400
3 2021-10-04  Partying   500
4 2022-11-09    Coding    20

### Combining Multiple Columns To Create Date Column.

Sometimes in datasets, the columns have different columns that contain date information. You wish to apply this data and combine then to form a date field. We can do this using pandas.

In [221]:
df = pd.read_csv("parsing_dates2.csv", parse_dates={"date": ["Day", "Months", "Year"]}, dayfirst=True)

In [222]:
df

        date
0 2018-02-20
1 2019-03-23
2 2020-09-20
3 2021-10-04
4 2022-11-09

## Custom Date Parser

In [238]:
from datetime import datetime

custom_date_parser = lambda x: datetime.strptime(x, "%Y-%d-%m")
date_parser = lambda date: datetime.strptime(date, '%Y-%m-%d')

In [239]:
df = pd.read_csv("parsing_dates.csv", parse_dates=["Date"], names = ["Date", "Event", "Cost"], date_parser = date_parser)

In [240]:
df

        Date     Event  Cost
0 2018-02-20   Dinning   200
1 2019-03-23  Shopping   330
2 2020-09-20   Jogging   400
3 2021-10-04  Partying   500
4 2022-11-09    Coding    20

In [241]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5 non-null      datetime64[ns]
 1   Event   5 non-null      object
 2   Cost    5 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 248.0+ bytes

## Working With Dates After Reading CSV File

In [245]:
df = pd.read_csv("parsing_dates.csv", names = ["Date", "Event", "Cost"])

In [249]:
df["date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5 non-null      object
 1   Event   5 non-null      object
 2   Cost    5 non-null      int64
 3   date    5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 288.0+ bytes